/* Add CSS Styling */

.no-click-me,
.click-me
{
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}

.no-click-me
{
    background-color: yellow;
}

.click-me
{
    color: white;
    background-color: black;
}