body {
  background: #eee;
  font-family: sans-serif;
}

.title,
.content,
.button-container
{
  padding: 8px;
  font-size: 16px;
}
.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

h1.title {
  background: #e3f4ff;
  margin-bottom: 8px;
}

div.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: auto;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  font-size: 16px;
  margin: 0 auto;
}